body { 
	grid-template-areas:  "title"
												"progress"
												"problems"
												"solutions";
	text-align: center;
}

h1 {
	grid-area: "title";
}

img {
	margin: auto;
}

input {
	height: 70px;
	width: 150px;
	font-size: 30px;
	text-align: center;
}

.car {
	position: absolute;
}

.car.player{
	top: 37%;
	left: 0px;
}

.car.computer {
	top: 40%;
	left: 0px;
}

.hide {
	display: none;
}

.progress {
	grid-area: "progress";
	height: 300px;
	border-style: solid;
}

.problemsBox {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 0px;
	grid-area: "problems";
	height: 100px;
	width: 500px;
	border-style: solid;
}

.problemDisplay {
	margin: 15px;
	font-size: 50px;
}



.solutions {
	grid-area: "solutions";
}

